.container-recurrent{
    background-color: #FFFFFF;
}
.top{
    width: 1080px;
    margin-left: 15px;
}
.bottom{
    width: 1080px;
    margin-left: 15px;
}
#clt1{
    width: 780px;
}
#shot{
    width: 960px;
}