.retrait-container{
    background-color: #FFFFFF;
}
.retrait-top{
    width: 1080px;
    margin-left: 15px;
}
.retrait-bottom{
    width: 1080px;
    margin-left: 15px;
}
#retrait-para{
    color: #4E4B7B;
    font-size: 18px;
}
#retrait-img{
    width: 960px;
}